<div class="shiny-app-info">
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{ shiny_app.slug }}-info"><span class="glyphicon glyphicon-info-sign"></span></button>
</div>

<div class="modal fade" id="{{ shiny_app.slug }}-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About: {{ shiny_app.name }}</h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          {{ shiny_app.description|linebreaks }}
        </div>
      </div>

      <div class="modal-footer hidden-xs">
        <div class="btn-group" role="group" aria-label="...">
          {% if shiny_app.repo %}
            <a href="{{ shiny_app.repo }}" class="btn btn-primary" target="_blank">Source Code</a>
          {% endif %}
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

      <div class="modal-footer visible-xs">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
              {% if shiny_app.repo %}
                <a href="{{ shiny_app.repo }}" class="btn btn-primary" target="_blank">Source Code</a>
              {% endif %}
            </div>
            <div class="btn-group-vertical col-xs-12" role="group" aria-label="...">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>