{% extends "base.html" %}
{% load sekizai_tags staticfiles thumbnail %}

{% block content %}

  <div class="container">
    <h1 class="text-center gallery-heading">Shiny Apps</h1>
    <div class="container-fluid">
      <div id="shiny-apps" class="row">
        {% for shiny_app in published_shiny_apps %}
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div class="item">
              {% include "cms_shiny/_shiny_app_info.html" %}
              {% include "cms_shiny/_shiny_list_item.html" %}
            </div>
          </div>
        {% empty %}
          <p>Need to add Shiny apps!</p>
        {% endfor %}
      </div>
    </div>
  </div>

  {% addtoblock "js" strip %}
    <script src="{% static 'cms_shiny/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'cms_shiny/app.js' %}"></script>
  {% endaddtoblock %}

{% endblock content %}
