/*************/
/* Shiny App */
/*************/

.shiny-app-info {
  position: absolute;
  z-index: 1;
}


/***********************/
/* Shiny App List View */
/***********************/

.gallery-heading {
  margin-bottom: 25px;
}
.thumbnail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.thumbnail .caption {
  margin-top: auto;
}
.thumbnail img {
  width: 100%;
}
a.thumbnail:hover {
  border-color: black;
  text-decoration: none;
}
.item {
  margin-left: auto;
  margin-right: auto;
  max-width: 310px;
  position: relative;
}
.item .shiny-app-info {
  top: 10px;
  right: 10px;
  display: none;
}
.item:hover .shiny-app-info {
  display: block;
}
@media screen and (max-width: 767px) {
  #shiny-app .item {
    max-width: 500px;
  }
  .item .shiny-app-info {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  #shiny-app .item {
    max-width: 90%;
  }
}


/*************************/
/* Shiny App Detail View */
/*************************/

.shiny-app {
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
iframe + .shiny-app-info {
  top: 20px;
  right: 20px;
}
